/* #Pic {
    background-image: url("../Styles/pics/SolarSystem.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 1310px;
    height: 670px;
  
    margin-top: -30px;
    /* display:flex; */
   

  #aboutMePic {
    background-image: url("../Styles/pics/SaltFlats.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    width: 1310px;
    height: 760px;
    margin-top: -50px;
  }